body {
    height: 100%;
    overflow-x: hidden;
}

body:-webkit-full-screen{width: 100%;}
body:-moz-full-screen{width: 100%;}
body:-ms-full-screen{width: 100%;}
body:-o-full-screen{width: 100%;}
body:full-screen{width: 100%;}

#code {
    width: 550px;
    margin: 0 auto;
}

#fullscreen:hover {
    cursor:pointer;
}

#main-container {
    height: 100%;
}

#origin {
    margin: 5 0 0 5;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
}

#thing {
    margin: 0 auto;
    position: relative;
}

.push {
    height: 33%;
    width: 100%;
}

#visibility:hover {
    cursor:pointer;
}
